<div class="card">
    <div class="card-body">
      <div class="container">
          <h3>John Doe</h3>
          <h5>Front-End Developer</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente numquam dolorem id deserunt reiciendis facere dicta ipsum perspiciatis? Suscipit vel cupiditate obcaecati iste, porro, tenetur rem atque odio dolorum illo eveniet, amet temporibus. Harum molestias similique ullam possimus. Tenetur esse laborum beatae maxime dolor optio qui sit. Quos reiciendis ut aliquid autem hic porro aut quibusdam ipsum atque impedit eos delectus ipsa sint nostrum, magni ratione. Totam quis quae atque deserunt quasi voluptatem, dolor ipsa tenetur obcaecati ratione! Quasi illo voluptate magnam, quaerat placeat aliquid dolore, cupiditate repellendus similique sequi eos debitis temporibus? Soluta sapiente ipsam ab minima assumenda.</p>
      </div>
    </div>
</div>
