<!--
    app-contact-list components is for displaying list of contacts
    its a reuseable component whic is iterated here and and pass full and and avatar
    as props

    (updateFormtStatus)="updateFormtStatus($event)" is a functiona which is passed to contact-add-form
    so that when contact is added then the contact list can be recall to locad contact list

    contact-list, contact-add and add-address component is binded with a logic that if contact page is displaying then address form will be hidded and if address is displayed then contact form will e  hidden

    add-address component is passing relatedAddressId as prop to specify the contactId number associated with the address data.
    (getBackToContactList)="getBackToContactList()" function is passing as chind to parent to change address add /update form status as hidden /false
-->
<div class="card">
    <div class="card-body">
        <div class="container" *ngIf="contactState.addAddress === false; else addressForm">
            <h3>Contact List</h3>
            <h5>You have {{contactState.totalContacts}} contacts</h5>
            <nav>
                <app-contact-list *ngFor="let contact of contactState.contactList" [id]="contact.id"
                    [fullName]="contact.full_name" [avatar]="contact.avatar"
                    (updateFormtStatus)="updateFormtStatus($event)"></app-contact-list>
                <app-contact-add-form (getAllContacts)="getAllContacts()"></app-contact-add-form>
            </nav>
        </div>
        <ng-template #addressForm>
            <app-add-address [relatedAddressId]="contactState.relatedAddressId"
                (getBackToContactList)="getBackToContactList()"></app-add-address>
        </ng-template>
    </div>
</div>