@import "../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
 @import '~font-awesome/scss/font-awesome';

body{
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 992px) {
    body {
      position: relative;
  }
}